.build/
.history/
.idea/
vendor/

.DS_Store
.env
.php-cs-fixer.cache
.phpunit.result.cache
/*.zip
/laravel
/tests.*
bodyscan-log.txt
clover.xml
composer.lock
eza.png
mutation-report.html
phpunit.xml
psalm.xml
