parameters:
	ignoreErrors:
		-
			message: "#^Unused Guanguans\\\\PackageSkeleton\\\\PackageSkeleton\\:\\:test$#"
			count: 1
			path: src/PackageSkeleton.php

		-
			message: "#^Unused Guanguans\\\\PackageSkeleton\\\\UpdateHelper\\:\\:check$#"
			count: 1
			path: src/UpdateHelper.php
