<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  cacheResultFile="build/phpunit/.phpunit.result.cache"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  verbose="true"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
>
  <!--executionOrder="depends,defects"-->
  <!--resolveDependencies="true"-->
  <!--printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer"-->
  <!--testdox="true"-->
  <!--executionOrder="random"-->
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <file>src/Skeleton.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Guanguans Test Suite">
      <directory>tests/</directory>
      <exclude>vendor/</exclude>
    </testsuite>
  </testsuites>
  <extensions>
    <!--<extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>-->
    <!--<bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>-->
    <extension class="Ergebnis\PHPUnit\SlowTestDetector\Extension">
      <arguments>
        <array>
          <element key="maximum-count">
            <integer>3</integer>
          </element>
          <element key="maximum-duration">
            <integer>250</integer>
          </element>
        </array>
      </arguments>
    </extension>
  </extensions>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
      <arguments>
        <array>
          <element key="slowThreshold">
            <integer>500</integer>
          </element>
          <element key="reportLength">
            <integer>10</integer>
          </element>
          <element key="stopOnSlow">
            <boolean>false</boolean>
          </element>
        </array>
      </arguments>
    </listener>
  </listeners>
</phpunit>
