# total 1 error

parameters:
    ignoreErrors:
        -
            message: '#^Unused Guanguans\\PackageSkeleton\\PackageSkeleton\:\:testing$#'
            count: 1
            path: ../src/PackageSkeleton.php
